body{ /*den delen av sidan som*/
    background-color: wheat; /*backgrunds färg*/
    margin: 0; /*ser till så att body inte tar mer plats än den behöver*/
    height: 100vh; /*gör så att body tar upp hela sidan*/
    display: grid; /*man kan se griden i developer tools*/
    grid-template-columns: 100vw; /*griden har 1 column som är hela sidan*/
    grid-template-rows: 100px 1fr 70px; /*gridden har 3 rader*/
}

header > img{ /*bilden längst upp till vänster*/
width: 99px; /*dess storlek*/
float: left; /*bilden läggs till vänster*/
}

header{ /*Sidhuvudet*/
    grid-row: 1; /*ligger inom grid raden 1*/
    background-color: gray; /*har backgrundsfärg grå*/
}

main{ /*mellandelen av sidan*/
    grid-row: 2; /*ligger inom grid raden 2*/
}

footer{ /*Sidfoten*/
    grid-row: 3; /*ligger inom grid raden 3*/
    background-color: gray; /*har backgrundsfärgen grå*/
}

nav{ /*bildar det svarta strecket genom navigerings menyn*/
    height:17px;
    margin-top: 41px;
    background-color: black;
}

header li{ /*gör navigeringsmeyn vertikal*/
    float: left;
    margin-left: 15vw;
}

a{/*bestämmer färg, storlek och stilen av navigeringsmenyn*/
   color: lightblue;
   font-size: 0.9em;
   font-family: 'Trebuchet MS';
}

footer > p{ /*texten i footern är bold*/
    font-weight: bold;
}

p{ /*brödten har stilen trebuchet*/ 
    font-family: 'Trebuchet MS';}

table, th, td{ /*definerar rammen för tabellen*/
    border: 2px solid black;
    border-collapse: collapse;
}

th{ /*gör att tabellen ser bättre ut*/
    width: 150px;
}

tr{/*gör att tabellen ser bättre ut*/
    height: 30px;
}

td > a{ /*gör länken i tabellen svart*/
    color: black;
}

caption{ /*bästemmer storleken av titlen på tabellen*/
    font-size: 2em;
}

tr:nth-child(even){ /*gör varanan ruta i tabellen grön*/
    background-color: green;
}

tr{/*gör resten av rutorna i tabellen orange*/
    background-color: orange;
}

.frog{/*gör bilden av den heliga grodan en bra storlek*/
    width: 600px;
}

main > a{ /*länkar i mittendelen är röda*/
    color: red;
}

.thumb{ /*tumem är bra storlek*/
    width: 600px;
}